@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.box {
    letter-spacing: 1px;
    text-align: center;
  }
  .box-btn {
    letter-spacing: 1px;
    text-align: right;
  }
  .logo {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
  }
  .text-gradient-01 {
    font-size: 4rem;
   
    background: linear-gradient(90deg, #64acff, #3bf0e4);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  .text-show{
    padding: 0;
    font-size: 25px;
  color: #53db46 ;
   /* text-shadow: #FC0 1px 0 3px; */

    overflow: auto;
    overflow-y: scroll;
    text-align: left;
   /* direction: rtl; */
    scrollbar-width: thin;
  }
  .text-gradient-02 {
    font-size: 25px;
  color: #53db46 ;
   /* text-shadow: #FC0 1px 0 3px; */
    overflow: auto;
    overflow-y: scroll;
  }
  .text-gradient {
    font-size: 40px;
    background: linear-gradient(45deg, #db469f, #2188ff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
 
  }

  .scroll-background {
    
    background: transparent;

}
.bckg {
  background: linear-gradient(45deg, #53db46, #cfff21); 
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.gradient {
  background: linear-gradient(45deg, #53db46, #cfff21);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
  .login-form-input {
    width: 20%;
    height: 50px;
    margin: 10px auto;
    padding: 15px 20px;
    border: solid 1px rgba(255, 255, 255, .5);
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.178);
    color: #fff;
    font-size: 1rem;
    outline: none;

  }
  .form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
    z-index: 999;
    width: 80%;
    height: 240px;
    padding: 30px 20px;
    border: solid 1px rgba(255, 255, 255, .5);
    border-radius: 16px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, .1),
               -4px -4px 10px rgba(0, 0, 0, .1);
    background-color: rgba(255, 255, 255, .1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }
  .form-box-show{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    width: 80%;
    height: 280px;
    padding: 0px 20px 20px 20px;
    border: solid 1px rgba(255, 255, 255, .5);
    border-radius: 16px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, .1),
               -4px -4px 10px rgba(0, 0, 0, .1);
    background-color: rgba(255, 255, 255, .1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }
  .form-box-btn {
    display: flex;
    justify-content: right;
    align-items: flex-start;
    position: relative;
    z-index: 999;
    width: 50px;
    height: 40px;
    padding: 30px 20px;
    border: solid 1px rgba(255, 255, 255, 0.235);
    border-radius: 16px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, .1),
               -4px -4px 10px rgba(0, 0, 0, .1);
    background-color: rgba(255, 255, 255, .1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }
  .circle-01 {
    position: absolute;
    top: 15px;
    right: 45px;
    z-index: 1;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: linear-gradient(45deg, #ffd800, #ff5520);
  }
  .icon-alert{
    height: 30px;
    width: 30px;
  }
  .basic {
    display: grid;
    height: 250px;
    margin-left: 6%;
    grid-template-rows: 4rem auto 100%;
    grid-template-columns: 1fr 1fr ;
    grid-template-areas:
        " nav    main   ";
}
.scroll {
  overflow: auto;
  overflow-y: scroll;
}

.hoverbtn {
  display: grid;
  grid-template-rows: 200px 200px;
  grid-template-columns: minmax(50%) 250px;
 
}
footer {
  background-color: #000000;
  color: #fff;
  padding: 20px;
  text-align: center;
  column-count: 4;
  column-width: 300px;
  column-gap: 120px;
}
 
  .login-form-input {
    width: 50%;
    height: 150px;
    margin: 10px auto;
    padding: 15px 20px;
    border: solid 1px rgba(255, 255, 255, .5);
    border-radius: 25px;
    background-color: rgba(255, 255, 255, .2);
    color: #fff;
    font-size: 1rem;
    
    resize: none;
  }

  textarea{
    width: 90%;
    height: 250px;
    border: none;
    resize: none;
    outline: none;
    font-size: 2vw;
   background-color: rgba(255, 255, 255, 0);
   color: #fff;
   
    scrollbar-width: thin;
}
::placeholder { color: rgba(255, 255, 255, 0.516); }
.login-form-input::placeholder {
  color: rgba(255, 255, 255, .8); 
  }

  .login-form-btn {
    width: 30%;
    height: 50px;
    margin: 20px auto 10px;
    border: 4px 4px #fff;
    border-radius: 25px;
    padding-right: 20px;
    background-image: linear-gradient(45deg, #ae00ff, #5020ff);
    /* background-color: rgb(128, 34, 210); */
    color: #ffffff;
    font-size: 1.25rem;
    outline: none;
    cursor: pointer;
  }
  .form-copy-btn{
    position: absolute;
    bottom: -11px;
    right: 0px;
    width: 40px;
    height: 40px;
    margin: 10px auto;
    border: solid 1px rgba(255, 255, 255, .5);
    border-radius:    15px 0 15px 0;
    background-color: rgba(255, 255, 255, .2);
    color: #fff;
    font-size: 1rem;
    z-index: 2;
  }
  .form-clear-btn{
    position: absolute;
    top: -11px;
    right: 0px;
    width: 40px;
    height: 40px;
    display: grid;
    place-content: center;
    justify-content: center;
    margin: 10px auto;
    border: solid 1px rgba(255, 255, 255, .5);
    border-radius:   0 15px  0 15px;
    background-color: rgba(255, 255, 255, .2);
    color: #fff;
    font-size: 1rem;
    z-index: 2;
  }
  .form-clea-btn{
    position: absolute;
    bottom: -11px;
    left: 0px;
    width: 40px;
    height: 40px;
    display: grid;
    place-content: center;
    justify-content: center;
    margin: 10px auto;
    border: solid 1px rgba(255, 255, 255, .5);
    border-radius:   0 15px  0 15px;
    background-color: rgba(255, 255, 255, .2);
    color: #fff;
    font-size: 1rem;
    z-index: 2;
  }
  .form-copy-btn::hover{
    width: 40px;
    height: 40px;
    margin: 10px auto;
    border: solid 1px rgba(255, 255, 255, .5);
    border-radius:   0 20px 0 10px;
    background-color: rgba(255, 255, 255, 0.445);
    font-size: 1rem;
  }
  .form-info-btn{
    position: absolute;
    top: -11px;
    left: 0px;
    width: 40px;
    height: 40px;
    display: grid;
    place-content: center;
    justify-content: center;
    text-align: center;
    margin: 10px auto;
    border: solid 1px rgba(255, 255, 255, .5);
    border-radius:    15px 0 15px 0;
    background-color: rgba(255, 255, 255, .2);
    color: #fff;
    font-size: 1rem;
    z-index: 2;
  }
  .form-pase-btn{
    position: absolute;
    top: 205px;
    left: 50%;
    transform: translate(-57%, -45%);
    width: 40px;
    height: 40px;
    display: grid;
    place-content: center;
   justify-content: center;
   padding: 0%;
    border: solid 1px rgba(255, 255, 255, .5);
    border-radius:    10px 10px 10px 10px;
    background-color: rgba(255, 255, 255, .2);
    color: #fff;
    font-size: 1rem;
    z-index: 2;
  }
  .icon-copy{

    fill: #fff;
    height: 25px;
    width: 25px;
  }
  .icon-clear{

    fill: #fff;
    height: 25px;
    width: 25px;
  }
  .icon-info{

    fill: #fff;
    height: 25px;
    width: 25px;
  }
 
  .icon-copy:hover{
  
    fill:rgba(215, 15, 255, 0.856);
    height: 32px;
    width: 32px;
  }
  .icon-clear:hover{

    color:rgba(0, 0, 0, 0.913);
    fill:rgba(0, 0, 0, 0.913);
    height: 32px;
    width: 32px;
  }
  .icon-pase{
    color:#fff;
    fill:#fff;
    height: 25px;
    width: 50px;
  }
  .icon-pase:hover{
  
    color:rgba(15, 255, 67, 0.856);
    height: 32px;
    width: 32px;
  }
  .icon-info:hover{
  color:rgba(255, 15, 35, 0.856);
    fill:rgba(255, 15, 35, 0.856);
    height: 32px;
    width: 32px;
  }
  .icon-copy:hover::after{
    fill: #fff;
  }
  .des-form-btn {
    width: 30%;
    height: 50px;
    margin: 20px auto 10px;
    border: none;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    color: #3d3935;
    font-size: 1.25rem;
    outline: none;
    cursor: pointer;
  }
  li{
    display: table-footer-group;
    text-align: center;
    justify-content: center;
    justify-items: center;
  }
  .text {
display: flex;
align-items: center;
place-content: center;
justify-content: center;
margin-top: 65px;
    color: #fff;
    font-size: 0.875rem;
    text-align: center;
  }
  a {
    color: #fff;
  }
  .text a {
    color: #fff;
  }
  .login-form-btn:hover,
  .text a:hover {
    opacity: .8;
  }
  .des-form-btn:hover,
  .text a:hover {
    opacity: .8;
    color: rgb(128, 34, 210);
  }
  .image{
    position: absolute;
    border-radius: 15px;
    height: 75%;
    width: 75%;
  }
  #container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: grid;
   
    background: linear-gradient(to right top, #f51010, #212cb0,  #0b1cd7); /* url(https://demo.plantpot.works/1128/bg.png); */
    background-size: cover;
  }
  @media screen and (max-width: 662px) {
    .text-gradient-01 {
    font-size: 2rem;
    }
    .text-gradient-02 {
    font-size: 2.25rem;
    }
    .circle-01{
      width: 50px;
      height: 50px;
    }
    .form-pase-btn{
      top: 14%;
      left:52%;
    }


  }
  @media screen and (max-width: 485px) {
    
    
    .text-gradient-01 {
    font-size: 2rem;
    }
    .text-gradient-02 {
    font-size: 2.25rem;
    }
    .circle-01{
      width: 50px;
      height: 50px;
    }
    .basic{
      display: grid;
      height: 650px;
      margin-left: 6%;
      grid-template-rows: 23rem auto 100%;
      grid-template-columns: 1fr ;
      grid-template-areas:
          " nav    "
          " main   ";
    }
    .form-pase-btn{
      top: 40%;
      left:52%;
    }
    #container{
      height: 100%;
    }
    textarea{
      font-size: 16px;
    }
  }

.wave {
  position: absolute;
  width: 100%;
  padding-top: 12%;
  top: -5px;
  left: 0;
  background-image: url(wave.png);
  background-repeat: repeat-x;
  background-size: 100%;
  animation: wave 8s linear infinite;
}
.wave::before {
  content: '';
  position: absolute;
  width: 100%;
  padding-top: 12%;
  top: -5px;
  left: 0;
  background-image: url(wave.png);
  background-repeat: repeat-x;
  background-size: 100%;
  opacity: .2;
  animation: wave-reverse 8s linear infinite;
}
.wave::after {
  content: '';
  position: absolute;
  width: 100%;
  padding-top: 12%;
  top: -5px;
  left: 0;
  background-image: url(wave.png);
  background-repeat: repeat-x;
  background-size: 100%;
  opacity: .8;
  animation-delay: -4s;
  animation: wave 16s linear infinite;
}
@keyframes wave {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100vw;
  }
}
@keyframes wave-reverse {
  0% {
    background-position: 100vw;
  }
  100% {
    background-position: 0;
  }
}